<%= form_with model: book, data: { turbo: false }  do |form| %> 

  <% if @book.errors.any? %>
   <% @book.errors.full_messages.each do |message| %>
     <p><%= message %></p>
   <% end %>
  <% end %>

	<div>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</div>

	  <%= form.select :first_name, @authors.collect {|u| [ u.first_name ] } %>

	
	<%= form.submit %>

<% end %>