<h1>Listing Books</h1>

<table>
	<thead>
		<tr>
			<th>Book Title</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
		  <tr>
			<td><%= book.title %> </td>
			<td><%#= book.authors %> </td>
			<td><%= link_to 'view', book , class: "btn btn-secondary"%></td>
			<td><%= link_to 'Edit', edit_book_path(book) , class: "btn btn-success"%></td>
			<td><%= link_to 'Delete', book, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
		  </tr>

	    <% end %>
	</tbody>
</table> 

<%= link_to "Create", new_book_path, class: "btn btn-info" %>